
@import "../../libs/normalize-scss/sass/normalize/import-now";
@import "skin";
@import "variables";
@import "mixins";
@import "mixins-media";
@import "extends";

@import "common";
@import "header/header";
@import "header/header-overlay";
@import "header/header-menu";
@import "header/header-logo";
@import "header/header-navbar";
@import "header/header-content";

@import "sections/section-skills";
@import "sections/section-about";
@import "sections/section-form";
@import "sections/section-posts";

@import "footer";

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}
html{
    font-family:"Roboto" , sans-serif;
    font-size: 16px;
    letter-spacing:  0.1em;
    color: $color-gray;
    overflow-x: hidden;
}

 
    .button-accent{
        display: block;
        text-decoration:none;
        border:2px solid  $color-primary;
        background-color: rgba(45, 54, 81, 0.8);
        display: block;
        height: 60px;
        padding: 18px 96px;
        color: #fff;
        text-align: center;
        letter-spacing: 0.112em;
        font-size: 1.10rem;
        transition:background-color .5s;
        @include sm{
            width: 100%;
        }
        &:hover{
            background-color:$color-accent;
            transition:background-color .5s;
        }
        &:focus{
            background-color:$color-accent;
        }
    }
