
.header{
    display:flex;
    height: 100vh;
    background-position:50% 50%;
    background-size:cover;
    position: relative;
    align-items: center;
    color: $color-light;
    padding: 100px 0px;
}

